<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span> {{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input
      type="text"
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
